services:
  postgres:
    image: postgres:14.3
    ports:
      - "5439:5432"
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
      POSTGRES_DB: mydb
    container_name: pg_go
    volumes:
      - ./postgres:/var/lib/postgresql/data
  app:
    build:
      context: .
    ports:
      - "8080:8080"
    environment:
      DB_DRIVER: postgres
      DB_SOURCE: postgresql://admin:password@postgres:5432/mydb?sslmode=disable
      SERVER_ADDRESS: 0.0.0.0:8080
      TOKEN_PRIVATE_KEY: ac1057437065ca51b3581ac010f3c3b139bd1e082c46ff060e4383f7721688dfb9f130dd46ca4c7289991477b7e18c86959d003bcfda889fca60ce756f2c4642
      ACCESS_TOKEN_DURATION: 15m
      GIN_MODE: release
    depends_on:
      - postgres
